#stopwatch {
  background: white;
  border: 1px solid #999;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  touch-action: manipulation;

}

#sw-time {
  font-size: medium;
  font-weight: bold;
  text-align: center;
  transition: all 0.5s;
  min-width: 15%;
  box-sizing: padding-box;

  padding: 10px;
  display: inline-block;
  border: 1px solid black;
  color: black;
  border-radius: 20px;
}

#sw-sol, #sw-fa, #sw-solfa {
  font-size: xx-large;
  text-align: center;
  width: 20%;
  box-sizing: padding-box;
  padding: 10px;
  display: inline-block;
  background: black;
  border: 0;
  color: #fff;
  border-radius: 20px;
  transition: all 0.5s;
}

#sw-rst, #sw-go, #sw-tips {
  font-size: medium;
  text-align: center;
  width: 15%;
  box-sizing: padding-box;
  padding: 10px;
  display: inline-block;
  background: black;
  border: 0;
  color: #fff;
  border-radius: 20px;
  transition: all 0.5s;
}
